@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Rubik&family=Silkscreen&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #019267;
    height: 100%;
    width: 100%;
}


.header{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center; 
       
}

.hd-Container{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('capa\ .png');
}
#title{
    padding: 0;
}
#title h1{
    font-family: 'Silkscreen', cursive;
    color: antiquewhite;
    margin: 0;
}

#subtitle{
    margin: 0;
    height: 39px;
    padding: 0;
}

#subtitle h2{
    font-family: 'Raleway', sans-serif;
    color: chartreuse;
    margin: 0;
    letter-spacing: 4px;
}

/* Menu */

.menu{
    height: 50px;
    width: 100%;
    justify-content: center;
}

.menu-container{
    height: 45px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper{
    height: 40px;
    width: 170px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.wrapper a{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: #002b1e;
    cursor: pointer;
    text-decoration: none;
}

/* Main */

main{
    height: auto;
    width: 100%;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main{
    height: auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-wrapper{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: linear-gradient(145deg, #125A4C, #46C19C, #46C19C, #91DCC5);
    border-radius: 10px;
    
}

.news-img{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-position: 100%;
    background-size: cover;
    margin: 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;    
}

.news-img img{
    height: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 0;
}
.title-news {
    width: 500px;
    margin: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-news h3{
    font-family: 'Rubik', sans-serif;
    color: #002b1e;
}